.container{
   padding-top: 100px;
    height: 100vh;
}
.header{
    background-color:#F8F8F8;
    border-bottom: 1px solid #E7E7E7;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.home{
    padding-right: 30px;
}
.about{
    padding-right: 30px;
}
.contact{
    padding-right: 5px;
}
.footer{
    background-color:#F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
}
